.top-footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 30px;
    border-bottom: 1px solid gainsboro;
    @media screen and (min-width: 1440px) {
        flex-wrap: nowrap;
    }
}


.nav-footer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        height: 70px;
    }
    @media screen and (min-width: 1440px) {
        width: 50%;
    }
    & li{
        width: 45%;
        @media screen and (min-width: 768px) {
         width: 25%;
         height: 35px;
        }
    }
    & a{
        font-weight: 500;
        font-size: 16px;
        line-height: 2.1;
    }
}

.books-footer{
    @media screen and (max-width: 768px) {
        display: none;
    }
    display: flex;
    margin-right: 52px;
    & li:not(:last-child){
        margin-right: 20px;
    }
    &__box p{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.11;
        width: 200px;
        margin-bottom: 28px;
    }
}

.books-footer__box button, .subscribe__strong button{
    cursor: pointer;
    color: white;
    background-color: #050A14;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.7;
    padding: 17px;
    text-align: center;
}
.books-footer__box button:hover, .subscribe__strong button:hover{
    color: red;
}
.bottom-footer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
       }
    @media screen and (min-width: 1440px) {
        flex-wrap: nowrap;
    }
    & p{
        color: darkgray;
        width: 97%;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.42;
        @media screen and (min-width: 768px) {
            font-size: 16px;
           }
    }
}
.left-footer, .right-footer{
    @media screen and (min-width: 1440px) {
        width: 50%;
    }
}
.left-footer .top{
    margin:20px 0;
}
.right-footer .top{
    margin:20px 0;
}
.right-footer .medium{
    margin-bottom: 20px;
}
.footer-end{
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
    }
    & p{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            width: 50%; 
            margin-bottom: 0px;
        }
    }
}
footer .container{
    padding: 5px 0 15px 0;
    @media screen and (min-width: 768px) {
       padding-top: 50px; 
    }
}