
.latest-news{
    padding: 57px 0 45px 0;
    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: -14px;
        & h3{

            font-weight: 500;
            font-size: 20px;
            line-height: 1.1;
        }
        & li{
            width: 297px;
            height: 285px;
            margin: 14px;
        }
    }
}
.latest-news__list .next-news__list__white p{
    margin-bottom: 14px;
}

.latest-news__background{
    width: 299px;
    height: 293px;
    background-image: url("../../images/latest-news/5/x1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F8F8F8;
    display: flex;
    align-items: flex-end;
    @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url('../../images/latest-news/5/x2.jpg')
            }
            @media screen and (min-device-pixel-ratio: 3),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
            background-image: url('../../images/latest-news/5/x3.jpg')
            }
    & h3{
        color: white;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;
        &:hover, &:focus{
            color: gainsboro;
        }
        @media screen and (min-width: 330px) {
            width: 250px;
        }
    }
    & article{
        margin-left: 18px;
    }
}