.slider .container{
    overflow: hidden;
}
.slider-line{
    display: flex;
    transition: all ease 1s;
    & div{
        width: 100%;
    }
    & img{
        width: 300px;
        @media screen and (min-width: 768px) {
            width: 630px;
        }
        @media screen and (min-width: 1440px) {
            width: 1272px;
        }
        
    }
}

.slider__box{
    position: relative;
}


.next-image{
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.button-prev{
    position: absolute;
    top: 200px;
    left: 35px;
    & svg{
        width: 24px;
        height: 47px;
        stroke: white;
        &:hover{
            cursor: pointer;
            stroke: gainsboro;
        }
    }
}
.button-next{
    position: absolute;
    top: 200px;
    right: 35px;
    & svg{
        width: 24px;
        height: 47px;
        stroke: white;
        &:hover{
            cursor: pointer;
            stroke: gainsboro;
        }
    }
}
.slider-img{
    position: relative;
    & h2{
        position: absolute;
        top: 20px;
        left: 40px;
        color: white;
        font-weight: 500;
        font-size: 20px;
        line-height: 0.7;
        @media screen and (min-width:768px) {
            top: 80px;
            left: 177px;
            font-size: 30px;
        }
        @media screen and (min-width: 1440px) {
            top: 170px;
            left: 340px;
            font-weight: 700;
            font-size: 54px;
        }
        
        &:hover, &:focus{
            color: gainsboro;
        }
    }
    & h3{
        position: absolute;
        color: white;
        top: 53px;
        left: 20px;
        font-weight: 500;
        font-size: 11px;
        line-height: 1;
        @media screen and (min-width:768px) {
            top: 125px;
            left: 130px;
            font-size: 18px;
        }
        @media screen and (min-width: 1440px) {
            top: 235px;
            left: 357px;
            font-size: 24px;
        }
        &:hover, &:focus{
            color: gainsboro;
        }
    }
    & .absolute-white{
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
