.subscribe{
    margin-bottom: 40px;
}
.subscribe .container{
    padding-top: 15px;
    background: #ED3237;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.subscribe ul{
    @media screen and (max-width: 768px) {
        display: none;
    }
    display: flex;
    align-items: end;
    @media screen and (max-width: 1440px) {
        margin-bottom: 15px;
    }
    & li:nth-child(2), & li:nth-child(4){
        margin-right: 8px;
    }
}
.subscribe strong{
    font-weight: 500;
    font-size: 24px;
    line-height: 0.58;
}
.subscribe__p{
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 116.6%;
    width: 265px;
    @media screen and (max-width: 768px) {
        margin-bottom: 15px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 54px;
    }
}
.subscribe a{
    color: white;
    background-color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.7;
    padding: 17px;

}
.subscribe__strong{
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media screen and (max-width: 768px) {
        justify-content: center;
    }
    @media screen and (min-width: 1440px) {
        margin-left: 98px;
        padding-bottom: 0px;
    }
}