.top-news{
    padding: 20px 0;
    &__item{
        background-color: darkgray;
        width: 100%;
        height: 60px;
        text-align: center;
        align-items: center;
        display: grid;
        @media screen and (min-width: 330px) {
            width: 300px;
        }
        & a{
            color: white;
            &:hover, &:focus{
                color: red;
            }
        }
        & h3{
            font-weight: 700;
            font-size: 16px;
            line-height: 1.25;
        }
        & article{
            height: 100%;
            align-items: center;
            display: grid;
        }
        &:not(:last-child){
           
            @media screen and(max-width: 768px) {
                margin-bottom: 10px;
            }
        }
        &:nth-child(2), &:nth-child(1){
            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
            }
        }
    }
    &__list{
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        }
        
    }
    &__article{

        background-color: darkgray;
        background-image: url("../../images/top-news/5/x1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        padding: 5px 0 15px 10px;
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../../images/top-news/5/x2.jpg')
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url('../../images/top-news/5/x3.jpg')
        }
        @media screen and (min-width: 768px) {
            padding: 30px 0 90px 10px;
        }
        @media screen and (min-width: 1440px) {
            padding: 80px 0 150px 15px;
        }
        
        & a{
            color: white;
            &:hover, &:focus{
                color: gainsboro;
            }
        }
        & h2{
            font-size: 18px;
            line-height: 1.1;
            margin-bottom: 15px;
            @media screen and (min-width: 768px) {
            width: 600px;
            font-weight: 700;
            font-size: 36px;
            margin-bottom: 34px;
            }
        }
        & p{
            font-size: 15px;
            line-height: 1.2;
            @media screen and (min-width: 768px) {
            width: 530px;
            font-size: 20px;
            }
            
        }
    }
    &__lady{
        background-image: url("../../images/top-news/1/x1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../../images/top-news/1/x2.jpg')
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url('../../images/top-news/1/x3.jpg')
        }
    }
    &__explosion{
        background-image: url("../../images/top-news/2/x1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../../images/top-news/2/x2.jpg')
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url('../../images/top-news/2/x3.jpg')
        }
    }
    &__flood{
        background-image: url("../../images/top-news/3/x1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../../images/top-news/3/x2.jpg')
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url('../../images/top-news/3/x3.jpg')
        }
    }
    &__transformation{
        background-image: url("../../images/top-news/4/x1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../../images/top-news/4/x2.jpg')
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url('../../images/top-news/4/x3.jpg')
        }
    }
}
time{
    display: block;
    margin-bottom: 10px;
}
