.ukraine{
    padding: 55px 0 50px 0;
    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: -12px;
        & li{
            width: 300px;
            height: 398px;
            margin: 12px;
        }
        & .big{
            height: 400px;
            background-image: url("../../images/ukraine/3/x1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #F8F8F8;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url('../../images/ukraine/3/x2.jpg')
            }
            @media screen and (min-device-pixel-ratio: 3),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
            background-image: url('../../images/ukraine/3/x3.jpg')
            }
            @media screen and (min-width: 768px) {
                width: 624px;
            }
            & h3{
                color: white;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.25;
                margin: 0 0 20px 15px;
                @media screen and (min-width: 768px) {
                    margin: 0 0 80px 15px;
                width: 420px;
                }
            }
            & a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
            }
        }
        & h3{
            font-weight: 500;
            font-size: 20px;
            line-height: 1.1;
        }
    }
    &__h2 h2{
        font-weight: 500;
        font-size: 30px;
        line-height: 1.35;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            font-size: 40px;
        }
    }
}

